@charset "UTF-8";
@import url(http://fonts.googleapis.com/css?family=Roboto:400,400italic,300italic,300,500,500italic);

html,
body {
    overflow-x: hidden;
}

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

textarea {
    resize: vertical;
}

.browser-upgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

html {
    font-family: 'Roboto', sans-serif;
}

.blue-background {
    background-color: #1976d2;
}

.blue-text {
    color: #1976D2;
}

.green-background {
    background-color: #7AC943;
}

.green-text {
    color: #7AC943;
}

.black-text {
    color: rgba(0, 0, 0, 1.0);
}

.white-text {
    color: rgba(255, 255, 255, 1.0);
}

li {
    color: rgba(255, 255, 255, 1.0);
}

a {
    color: rgba(0, 0, 0, 1.0);
    text-decoration: underline;
}

h2,
h3,
h4,
.headline,
.subhead,
.body1,
.caption {
    font-weight: 400;
}

.title,
.body2,
.button {
    font-weight: 500;
}

.body1,
.body2,
.button {
    font-size: 14em;
}

.caption,
h1,
h2,
h3,
h4 {
    color: rgba(0, 0, 0, 0.9);
}

.headline,
.title,
.subhead,
.body2,
.body1,
.menu,
.button {
    color: rgba(0, 0, 0, 0.9);
}

h1 {
    font-size: 100px;
    font-weight: 400;
}

h2 {
    font-size: 56px;
}

h3 {
    font-size: 45px;
    letter-spacing: 0;
}

h4 {
    font-size: 34px;
    letter-spacing: 0;
}

h5 {
    font-size: 20px;
    letter-spacing: 0;
}

.headline {
    font-size: 24px;
    letter-spacing: 0;
}

.title {
    font-size: 22px;
}

.subhead {
    font-size: 16px;
}

.caption {
    font-size: 16px;
}

.button {
    text-transform: uppercase;
}

#css-menu {
    position: relative;
    background: #7AC943;
    width: auto;
}

#css-menu ul {
    list-style: none;
    margin: 0;
    padding: 0;
    line-height: 1;
    display: block;
    zoom: 1;
}

#css-menu ul:after {
    content: " ";
    display: block;
    font-size: 0;
    height: 0;
    clear: both;
    visibility: hidden;
}

#css-menu ul li {
    display: inline-block;
    padding: 0;
    margin: 0;
}

#css-menu.align-right ul li {
    float: right;
}

#css-menu.align-center ul {
    text-align: center;
}

#css-menu ul li a {
    color: #ffffff;
    text-decoration: none;
    display: block;
    padding: 15px 25px;
    font-family: 'Roboto', serif;
    font-weight: 300;
    text-transform: uppercase;
    font-size: 14px;
    position: relative;
    -webkit-transition: color .25s;
    -moz-transition: color .25s;
    -o-transition: color .25s;
    transition: color .25s;
}

#css-menu ul li a:hover {
    color: #787878;
}

#css-menu ul li a:hover:before {
    width: 100%;
}

#css-menu ul li a:before {
    content: "";
    display: block;
    position: absolute;
    left: 0;
    bottom: 0;
    height: 3px;
    width: 0;
    background: #1976d2;
    -webkit-transition: width .25s;
    -moz-transition: width .25s;
    -o-transition: width .25s;
    transition: width .25s;
}

#css-menu ul li.last > a:after,
#css-menu ul li:last-child > a:after {
    display: none;
}

#css-menu ul li.active a {
    color: #ffffff;
}

#css-menu ul li.active a:before {
    width: 100%;
}

#css-menu.align-right li.last > a:after,
#css-menu.align-right li:last-child > a:after {
    display: block;
}

#css-menu.align-right li:first-child a:after {
    display: none;
}

.center {
    text-align: center;
}

.shadow-z-1 {
    box-shadow: 0 1px 6px 0 rgba(0, 0, 0, 0.12), 0 1px 6px 0 rgba(0, 0, 0, 0.12);
}

.shadow-z-1-hover {
    box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.18), 0 4px 15px 0 rgba(0, 0, 0, 0.15);
}

.shadow-z-2 {
    box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.shadow-z-3 {
    box-shadow: 0 12px 15px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
}

.shadow-z-4 {
    box-shadow: 0 16px 28px 0 rgba(0, 0, 0, 0.22), 0 25px 55px 0 rgba(0, 0, 0, 0.21);
}

.shadow-z-5 {
    box-shadow: 0 27px 24px 0 rgba(0, 0, 0, 0.2), 0 40px 77px 0 rgba(0, 0, 0, 0.22);
}

.btn-circle.btn-lg {
    width: 70px;
    height: 70px;
    padding: 10px 16px;
    font-size: 24px;
    line-height: 1.33;
    border-radius: 35px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
}

#service-button {
    float: right;
    margin-right: 4.5%;
}

#service-button > img {
    margin-top: 18%;
    width: 100%;
}

.breadcrumb {
    margin-top: 16px;
    margin-bottom: -8px;
    background-color: rgba(0, 0, 0, 0.00);
}

.social {
    margin-left: 8px;
    margin-right: 8px;
    width: 36px;
    height: 36px;
}

a {
    text-decoration: none;
}

.rounded-rectangle {
    border-radius: 3px 3px 3px 3px;
    overflow: hidden;
}

.full-img {
    position: relative;
    width: 120%;
}

.round-btn {
    margin-top: -35px;
    padding-bottom: 16px;
}

.a-list li {
    color: rgba(0, 0, 0, 0.8);
    font-size: 1.75rem;
    font-weight: 400;
}

.thumbnail-p {
    padding-top: 4pt;
    margin-bottom: 0;
}

.info-paragraph {
    padding: 16px 0;
    line-height: 125%;
}

.map {
    float: right;
    margin: 0 16px 16px;
}

.nadca-logo {
    margin: 16px;
    width: 100px;
}

.carrier-logo {
    margin: 35px 16px 16px;
    width: 275px;
    float: right;
}

.not-active {
    pointer-events: none;
    cursor: default;
}

.center-number {
    color: #000;
    text-decoration: none;
    align-content: center;
    font-size: 34px;
}

#change {
    width: 80%;
    height: 80%;
    border: 1px solid black;
    overflow: hidden;
    font-size: 1em;
}

/* Quick hack in order for the whole email address to show up on all screen sizes */
@media screen and (min-width: 1080px) {
    .email {
        font-size: 28px;
    }
}

/* Mobile */
@media screen and (max-width: 767px) {

    html, body {
        max-width: 100%;
        overflow-x: hidden;
    }

    .subhead {
        font-size: 16px;
    }

    .body1 .body2 {
        font-size: 14px;
    }

    .btn-circle.btn-lg {
        position: fixed !important;
        bottom: 4%;
        right: 0;
        z-index: 999;
    }

    #css-menu ul li {
        float: none;
        display: block;
        z-index: -1;
    }

    #css-menu {
        width: 100%;
    }

    #css-menu ul li a {
        width: 90%;
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        border-bottom: 1px solid #1976D2;
    }

    #css-menu ul li.last > a,
    #css-menu ul li:last-child > a {
        border: 0;
    }

    #css-menu ul li a:after {
        display: none;
    }

    #css-menu ul li a:before {
        display: none;
    }

    #side-panel {
        display: none;
    }
}

/* Desktop */
@media only screen and (min-width: 768px) {
    #top-panel {
        display: none;
    }

    #bottom-panel {
        display: none;
    }

    .main_content {
        margin-top: 2%;
        background-size: 100%;
        background: no-repeat top;
    }
}

@media only screen and (max-width: 700px) {
    .request-service-btn {
        margin-top: 135px !important;
        width: 85% !important;

    }
    #css-menu {
        margin-top: 75px;
    }
}

.side-bar {
    padding-top: 7%;
    color: #000;
}

.side-bar * {
    color: #000;
}

/*Used to prevent scrolling in Google Maps iFrame on 'About' page*/
.overlay {
    background: transparent;
    position: relative;
    width: 350px;
    height: 250px;
    top: 250px;
    margin-top: -250px;
}

.request-service-btn {
    position: absolute !important;
    margin: auto;
    width: 300px;
    margin-top: 50px;
    right: 8%;
    padding: 0px;
}

.request-service-btn-txt {
    display: flex;
    justify-content: center;
    color: #fff;
}

nav ul a.btn, nav ul a.btn-large, nav ul a.btn-large, nav ul a.btn-flat, nav ul a.btn-floating {
  margin-top: -2px;
  margin-left: 15px;
  margin-right: 15px;
}

.z-depth-1, nav, .card-panel, .card, .toast, .btn, .btn-large, .btn-floating, .dropdown-content, .collapsible, .side-nav {
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}

.z-depth-1-half, .btn:hover, .btn-large:hover, .btn-floating:hover {
  box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.18), 0 4px 15px 0 rgba(0, 0, 0, 0.15);
}

.btn, .btn-large,
.btn-flat {
  border: none;
  border-radius: 2px;
  display: inline-block;
  height: 36px;
  line-height: 36px;
  outline: 0;
  padding: 0 2rem;
  text-transform: uppercase;
  vertical-align: middle;
  -webkit-tap-highlight-color: transparent;
}

.btn.disabled, .disabled.btn-large,
.btn-floating.disabled,
.btn-large.disabled,
.btn:disabled,
.btn-large:disabled,
.btn-large:disabled,
.btn-floating:disabled,
.btn[disabled],
[disabled].btn-large,
.btn-large[disabled],
.btn-floating[disabled] {
  background-color: #DFDFDF !important;
  box-shadow: none;
  color: #9F9F9F !important;
  cursor: default;
}

.btn.disabled *, .disabled.btn-large *,
.btn-floating.disabled *,
.btn-large.disabled *,
.btn:disabled *, .btn-large:disabled *,
.btn-large:disabled *,
.btn-floating:disabled *,
.btn[disabled] *, [disabled].btn-large *,
.btn-large[disabled] *,
.btn-floating[disabled] * {
  pointer-events: none;
}

.btn.disabled:hover, .disabled.btn-large:hover,
.btn-floating.disabled:hover,
.btn-large.disabled:hover,
.btn:disabled:hover,
.btn-large:disabled:hover,
.btn-large:disabled:hover,
.btn-floating:disabled:hover,
.btn[disabled]:hover,
[disabled].btn-large:hover,
.btn-large[disabled]:hover,
.btn-floating[disabled]:hover {
  background-color: #DFDFDF !important;
  color: #9F9F9F !important;
}

.btn i, .btn-large i,
.btn-floating i,
.btn-large i,
.btn-flat i {
  font-size: 5rem;
  line-height: inherit;
}

.btn, .btn-large {
  text-decoration: none;
  color: #fff;
  background-color: #2196f3;
  text-align: center;
  letter-spacing: .5px;
  transition: .2s ease-out;
  cursor: pointer;
}

.btn:hover, .btn-large:hover {
  background-color: #42a5f5;
}

button.btn-floating {
  border: none;
}

.btn-large {
  height: 54px;
  line-height: 54px;
  font-size: 2.5rem;
}

.btn-large i {
  font-size: 1.6rem;
}

/*!
 * Waves v0.6.0
 * http://fian.my.id/Waves
 *
 * Copyright 2014 Alfiana E. Sibuea and other contributors
 * Released under the MIT license
 * https://github.com/fians/Waves/blob/master/LICENSE
 */
.waves-effect {
  position: relative;
  cursor: pointer;
  display: inline-block;
  overflow: hidden;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-tap-highlight-color: transparent;
  vertical-align: middle;
  z-index: 1;
  will-change: opacity, transform;
  transition: all .3s ease-out;
}

.waves-effect .waves-ripple {
  position: absolute;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  margin-top: -10px;
  margin-left: -10px;
  opacity: 0;
  background: rgba(0, 0, 0, 0.2);
  transition: all 0.7s ease-out;
  transition-property: opacity, -webkit-transform;
  transition-property: transform, opacity;
  transition-property: transform, opacity, -webkit-transform;
  -webkit-transform: scale(0);
          transform: scale(0);
  pointer-events: none;
}

.waves-effect.waves-light .waves-ripple {
  background-color: rgba(255, 255, 255, 0.45);
}

.waves-effect.waves-red .waves-ripple {
  background-color: rgba(244, 67, 54, 0.7);
}

.waves-effect.waves-yellow .waves-ripple {
  background-color: rgba(255, 235, 59, 0.7);
}

.waves-effect.waves-orange .waves-ripple {
  background-color: rgba(255, 152, 0, 0.7);
}

.waves-effect.waves-purple .waves-ripple {
  background-color: rgba(156, 39, 176, 0.7);
}

.waves-effect.waves-green .waves-ripple {
  background-color: rgba(76, 175, 80, 0.7);
}

.waves-effect.waves-teal .waves-ripple {
  background-color: rgba(0, 150, 136, 0.7);
}

.waves-effect input[type="button"], .waves-effect input[type="reset"], .waves-effect input[type="submit"] {
  border: 0;
  font-style: normal;
  font-size: inherit;
  text-transform: inherit;
  background: none;
}

.waves-effect img {
  position: relative;
  z-index: -1;
}

.waves-notransition {
  transition: none !important;
}

.waves-circle {
  -webkit-transform: translateZ(0);
          transform: translateZ(0);
  -webkit-mask-image: -webkit-radial-gradient(circle, white 100%, black 100%);
}

.waves-input-wrapper {
  border-radius: 0.2em;
  vertical-align: bottom;
}

.waves-input-wrapper .waves-button-input {
  position: relative;
  top: 0;
  left: 0;
  z-index: 1;
}

.waves-circle {
  text-align: center;
  width: 2.5em;
  height: 2.5em;
  line-height: 2.5em;
  border-radius: 50%;
  -webkit-mask-image: none;
}

.waves-block {
  display: block;
}

/* Firefox Bug: link not triggered */
.waves-effect .waves-ripple {
  z-index: -1;
}


/* Fixes email address getting cut off on smaller screens. */
.dont-break-out {

  /* These are technically the same, but use both */
  overflow-wrap: break-word;
  word-wrap: break-word;

  -ms-word-break: break-all;
  /* This is the dangerous one in WebKit, as it breaks things wherever */
  word-break: break-all;
  /* Instead use this non-standard one: */
  word-break: break-word;

}


@media only screen and (min-width: 700px) {
    /*  Below is used to adjust the width of the bootstrap columns.
        This is being done because the email address in a .col-sm-3
        gets cut off on the last letter. By adjusting col-sm-3 to increase its size by 1% 
        and col-sm-9 to decrease its size by 1% (thus keeping it at 100% total), the problem is fixed.
        .col-sm-5 is in here as scrolling down showed that the columns were not parallel. */
    .col-sm-9 {
        width: 74%;
    }

    .col-sm-5 {
        width: 41%;
    }

    .col-sm-3 {
        width: 26%;
    }
}
